.navbar{
    font-family: 'Sarabun', sans-serif; 
}

.section{
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: 'Sarabun', sans-serif; 
}

.main-hading{
    color: purple;
    font-size: 25px;
    text-align: center;
    font-family: 'Sarabun', sans-serif; 
}

.underline{
    height: 4px;
    width: 10rem;
    background-color: purple;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bg-c-light{
    background-color: #f2f2f2;
}

h3{
    text-align: center;
    font-family: 'Sarabun', sans-serif; 
}

.footer{
    font-family: 'Sarabun', sans-serif;     
}

.footer a{
   color: white;
   text-decoration: none !important;    
}

.footer a:hover{
    color: gray;
}